.product{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    .product-card{
        border: 1px solid #222;
        border-radius: 1rem;
        padding: 1rem;
        img{
            width: 100px;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
}