.timer{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        color: #eee;
        font-size: 10rem;
    }
    div{
        button{
            font-size: 3rem;
            padding: 1rem;
            margin: 1rem 2rem;
        }
    }
}